body[data-theme="dark"] {  

   @import '../src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #8C8C8C;
   }

   .title-styles {
      color: white;
   }

   .header-icon {
      color: #3C342C;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #8C8C8C;
   }

   .language {
      background-color: #494949;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #918e97;
      color: white;
   }

   header {
      background-color: #494949;
      h1 {
         color: white;
      }
   }

   #about {
      background-color: #7f7f7f;
      h1 span {
         color: white;
      }
      .polaroid span {
         background:  #6d6d6d;
      }
      .card {
         background: #6d6d6d;
         color: white;
      }
   }

   #portfolio {
      background: #5b5b5b;
      .section-title {
         color: white !important;
      }
      .foto div {
         background: #6d6d6d;
      }
      .project-title-settings {
         color: white;
      }
   }

   #resume {
      filter: brightness(80%);
      background: #5b5b5b;
      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #919191 !important;
         color: white;
      }

      .main-badge {
         background: #919191 !important;
      }

      .vertical-timeline-element-date {
         color: white;
      }

      .vertical-timeline-element-icon {
         background: #919191 !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #5b5b5b;
      color: white;
   }

   .close-icon {
      color: white;
   }


   .blog-section {
   padding: 20px 0;
   background-color: #151616; // ダークモード用の背景色に変更
   text-align: center;
   font-size: 1.2em; // フォントサイズを変更
   }

   .blog-title {
   padding-top: 5%;
   padding-bottom: 5%;
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #e0e0e0; // ダークモード用のテキスト色に変更
   text-align: center;
   }

   .blog-description {
   font-size: 1.2em;
   color: #9e9e9e; // ダークモード用のテキスト色に変更
   }

   .blog-list {
   list-style-type: none;
   padding: 5px;
   }

   .blog-list-item {
   list-style: none;
   margin-bottom: 20px;
   font-size: 1.2em; // フォントサイズを変更
   color: #e0e0e0; // ダークモード用のテキスト色に変更
   }

   .blog-link {
   text-decoration: none;
   color: inherit;

   &:hover {
      text-decoration: none;
   }
   }

   .blog-post-preview {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #1e1e1e; // ダークモード用の背景色に変更
   border: 1px solid #333333; // ダークモード用のボーダー色に変更
   border-radius: 5px;
   padding: 20px;
   transition: box-shadow 0.3s;

   &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   }
   }

   .blog-post-image {
   max-width: 100%;
   height: auto;
   border-radius: 5px;
   }

   .blog-post-info {
   h2 {
      margin: 0;
      color: #e0e0e0; // ダークモード用のテキスト色に変更
   }

   .blog-post-date,
   .blog-post-category,
   .blog-post-excerpt {
      color: #9e9e9e; // ダークモード用のテキスト色に変更
      margin: 5px 0;
   }

   .blog-post-excerpt {
      margin-top: 10px;
   }
   }

   .blog-post-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   min-height: 40vh;
   margin-top: 10px;
   }

   .blog-post {
   max-width: 800px;
   width: 100%;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   background-color: #1e1e1e; // ダークモード用の背景色に変更
   text-align: center;
   margin: 0 auto;

   h1 {
      color: #e0e0e0; // ダークモード用のテキスト色に変更
   }

   p {
      color: #9e9e9e; // ダークモード用のテキスト色に変更
      font-size: 1.2em; // フォントサイズを変更
   }

   img {
      max-width: 100%;
      height: auto;
      margin-top: 20px;
      margin-bottom: 20px;
   }
   }


}